.main-header {
    // background-color: pink;
    border-bottom: 2px solid $gray-100;
    &__home {
        border-bottom: none;
        nav.navbar {
            // background-color: transparent;
            height: 80px;
            position: relative;
            z-index: 10;

            // position: absolute;
            // right: 0;
            // left: 0;
            // z-index: 10;
            // width: calc(100% - 100px);
        }
        &__logo {
            width: 30%;
        }
        &__icon {
            width: 40px; /* Número mágico */
            fill: $white;
        }
    }
    &__logo {
        // background-color: tomato;
        width: 50%;
        &:hover {
            opacity: .25;
            transition: all .3s;
        }
    }
    &__icon {
        // background-color: violet;
        width: 40px; /* Número mágico */
        fill: $blue;
        &.studio {
            fill: $orange;
        }
    }
    nav {
        // background-color: lightblue;
        height: 140px;
    }
}