.main-header {
    // background-color: pink;
    border-bottom: 2px solid $gray-100;
    &__home {
        border-bottom: none;
        // background-color: darkmagenta;
        nav.navbar {
            background-color: $black;
            // background-color: transparent;
            height: 60px;
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 20;
            padding-right: 15px;
            padding-left: 15px;
            border-bottom: none;
            box-shadow: 0 0 0;

            // position: absolute;
            // z-index: 10;
            // width: calc(100% - 100px);
        }
        &__logo{
            width: 25%;
        }
        &__icon,
        .main-header__icon {
            width: 30px; /* Número mágico */
            fill: $white;
        }
    }
    &__logo {
        // background-color: tomato;
        width: 25%;
    }
    &__icon {
        // background-color: violet;
        width: 30px; /* Número mágico */
        fill: $blue;
        &.studio {
            fill: $orange;
        }
    }
    nav {
        background-color: $white;
        // height: 140px;
        height: 60px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 20;
        padding-right: 15px;
        padding-left: 15px;
        border-bottom: 1px solid $gray-100;
        box-shadow: 2.5px 2.5px 2.5px rgba($black, .10);
    }
}