.main {
    background-color: lightcoral;
    flex-grow: 1;
    &__content {
        background-color: lightblue;
        padding-top: 15px;
        padding-bottom: 15px;
        &__description {
            background-color: lightgreen;
        }
    }
}