.main,
.wrapper {
    // background-color: lightcoral;
    flex-grow: 1;
    &__content {
        // background-color: lightblue;
        padding-top: 15px;
        padding-bottom: 15px;
        // &__description {
        //     // background-color: lightgreen;
        // }
        .building {
            width: 110px; /* Número mágico */
            margin-bottom: 20px;
            // .st0 {
            //     fill: $gray-900;
            // }
        }
    }
    &__text {
        margin-bottom: 1rem;
        text-align: justify;
        &:last-child {
            margin-bottom: 0;
        }
    }
    // &__button {
    //     margin-top: 15px;
    // }
}

.values {
    // background-color: teal;
    &__item {
        // background-color: pink;
        svg {
            width: 75px;
            fill: $blue;
        }
        .card-title {
            font-size: 30px;
            margin-top: 15px; /* Número mágico */
            margin-bottom: 30px; /* Número mágico */
        }
    }
    &__home {
        // background-color: goldenrod;
        padding-top: 15px;
        &__item {
            // background-color: hotpink;
            .card-text {
                margin-top: 20px; /* Número mágico */
            }
        }
        svg {
            width: 75px;
            fill: $blue;
        }
    }
}

.request {
    background-color: $gray-200;
    min-height: 470px;
    &__home {
        @extend .request;
        padding-top: 100px;
        padding-bottom: 100px;
        .form {
            padding-bottom: 0;
        }
    }
}