/* Importando archivos SMACSS */
// Base
@import './base/base';
// Layout
@import './layout/footer';

/* Hoja de estilos del sitio */
.image::before {
    content: '';
    background-color: rgba($black, .65);
    position: absolute;
}

.image__logo,
.image::before {
    // background-color: turquoise;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}