@import '~bootstrap/scss/functions';
@import 'bootstrap-variables';
@import '~bootstrap/scss/bootstrap';
@import 'main';
@import 'mediaqueries';

// Override a Bootstrap (Para evitar modificar estilos centrales SASS del framework)

// Componente "_reboot"
body {
    font-weight: $font-weight-light;
}

// Componente "Navbar" (@import 'navbar')
.navbar {
    flex-wrap: nowrap;
	padding: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.navbar-toggler {
    padding: 0;
    border: none; // remove default button 
}

// Componente "Card"
.card {
    min-width: 100%; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
    border: none;
}

.card-title {
    margin-bottom: 0;
}

.card-body {
    padding: 0;
}

// Componente "Forms"
.form-control {
  color: $input-color;

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius, 0);

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Remove select outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $input-color;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus($ignore-warning: true);

  // Placeholder
  &::placeholder {
    color: $input-placeholder-color;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }
}

// Componente "Navbar"