@import '~bootstrap/scss/functions';
@import 'bootstrap-variables';
@import '~bootstrap/scss/bootstrap';
@import 'main';
@import 'mediaqueries';

// Override a Bootstrap (Para evitar modificar estilos centrales SASS del framework)

// Componente "_reboot"
body {
    font-weight: $font-weight-light;
}

// Componente "Navbar" (@import 'navbar')
.navbar {
    flex-wrap: nowrap;
	padding: 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.navbar-toggler {
    padding: 0;
    border: none; // remove default button 
}

// Componente "Card"
.card {
    min-width: 100%; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
    border: none;
}

.card-title {
    margin-bottom: 0;
}

.card-body {
    padding: 0;
}