[class*="button--"] {
    display: block;
    width: 100%;
    max-width: 330px;
    height: 50px;
    text-transform: uppercase;
}

.button--2 {
    max-width: 250px;
}

.button--3 {
    @extend .button--2;
    background-color: $orange;
    border-color: $orange;
    &:hover,
    &:focus,
    &:active {
        background-color: darken($orange, 10) !important;
    }
    &:focus {
        box-shadow: 0 0 .2rem rgba($orange, 0.5);
    }
}

.button--4 {
    // @extend .button--2;
    @extend .button--3;
}

.button--5 {
    @extend .button--3;
    @extend .button--4;
    width: 190px;
    line-height: 50px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        color: $white;
    }
    & + svg {
        fill: $white !important;
    }
}