[class*="button--"] {
    width: 100%;
    max-width: 330px;
    height: 50px;
    text-transform: uppercase;
}

.button--2 {
    max-width: 250px;
}

.button--3 {
    background-color: $orange;
    border-color: $orange;
    &:hover {
        background-color: darken($orange, 10);
    }
}