.form {
    // background-color: mediumseagreen;
    padding-top: 15px;
    padding-bottom: 15px;

    textarea {
        height: 112px; /* Sumatoria */
    }

    &.studio {
        input,
        textarea,
        select {
            &:focus {
                color: $orange;
                border-color: $orange;
            }
        }
    }
}