.main-slider {
    position: relative;
    margin-top: 60px;
    .slider {
        margin-top: 0;
    }
    .carousel-item {
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba($black,.65);
            position: absolute;
        }
    }
    .carousel-control-prev {
      left: 50px;
    }
    .carousel-control-next {
      right: 50px;
    }
    &__copy {
        background-color: rgba($black,.75);
        position: relative;
        z-index: 10;
        &__title {
            // background-color: lightsalmon;
            font-weight: $font-weight-bolder;
            margin-bottom: 0;
        }
        &__text {
            // background-color: mediumvioletred;
            color: $white;
            font-weight: $font-weight-light;
        }
    }
    &__social {
        // background-color: darkgoldenrod;
        width: 125px;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 10;
        bottom: 80px; /* Número mágico */
        &__item {
            // background-color: darkmagenta;
            height: 20px; /* Altura de los piconos */
            line-height: 1;
            // &:nth-child(even) {
            //     // background-color: firebrick;
            // }
        }
        svg {
            width: 20px;
            fill: $white;
            &:hover {
                fill: $orange;
                transition: all .3s;
            }
        }
    }
}

.slider {
    // background-color: $blue;
    color: $white;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // height: 300px;
    margin-top: 20px;
    img {
        width: 100%;
    }
    svg {
        // fill: $orange;
        // fill: $gray-800;
        font-weight: $font-weight-bolder;
        height: 50px;
    }
    &__link {
        // padding-top: 10px;
        // padding-bottom: 10px;
        // background-color: darksalmon;
        position: relative;
        // &:nth-child(even) {
        //     // background-color: darkred;
        //     // .slider__link__content {
        //     //     // background-color: powderblue;
        //     // }
        // }
        &__content {
            background-color: rgba($black, .75);
            position: absolute;
            top: calc(100% - 80px);
            right: 15px;
            left: 15px;
            text-align: center;
            color: $white;
            &:hover {
                transition: all .5s;
                top: 0;
                max-height: 100%;
                min-height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            &__title {
                // background-color: slateblue;
                max-width: 85%;
                height: 80px;
                // overflow-y: hidden;
                margin-right: auto;
                margin-left: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 18px;
                font-weight: $font-weight-bolder;
                color: White;
            }
            &__description {
                // background-color: violet;
                font-size: 16px;
                max-width: 75%;
                svg {
                    fill: $white;
                    width: 15px;
                    margin-left: 10px;
                }
            }
        }
    }
}