[class^="title--"] {
    font-family: $font-family-base;
    font-weight: $font-weight-bolder;
}

.title--1 {
    font-size: 24px;
    color: $blue;
    margin-bottom: 15px;
}

.title--2 {
    font-size: 20px;
    font-weight: $font-weight-medium;
    color: $gray-900;
}

.title--3 {
    @extend .title--1;
    color: $orange;
}