[class^="title--"] {
    font-family: $font-family-base;
    font-size: $h1-font-size;
    font-weight: $font-weight-bolder;
    color: $blue;
}

.title--2 {
    font-size: 30px;
    font-weight: $font-weight-medium;
    color: $gray-900;
}